body{
    font-family: Arial, sans-serif;
    background-color: #f2f4f8;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 8px;
    height: 100vh;
}

.Text {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    margin: 20px;
    grid-column: 2 / span 3;
    grid-row: 2 / span 5;
}

 textarea {
    width: 100%;
    height: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    resize: none;
    box-sizing: border-box;
    background-color: #fff;
}

#count{
    margin-top: 10px;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    color: #555;
    display: flex;
    justify-content: center;
    gap: 4px;
}
